@import "./reset/basic-reset";
@import "./partials/vars";

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 #map {
	height: 700px;
  }
  /* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.options-box {
	border-radius: 3px;
	height: 100%;
	line-height: 35px;
	padding: 10px 10px 30px 10px;
	text-align: left;
}